.all-in-catalog {
  position: relative;
}

.all-in-catalog__subtitle {
  font-family: $font-family-main;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: center;
  color: $text-color-main;
  text-transform: uppercase;
  margin-top: 80px;
  margin-bottom: 0;
}

.all-in-catalog__subtitle::before,
.all-in-catalog__subtitle::after {
  content: "";
  position: absolute;
  top: 39px;
  left: 145px;
  width: 31px;
  height: 2px;
  background-color: $grey;
}

.all-in-catalog__subtitle::before {
  transform: rotate(90deg);
}

.all-in-catalog__text {
  font-family: $font-family-second;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: center;
  color: $text-color-second;
  margin-top: 8px;
  margin-bottom: 20px;
}
