.all-in-catalog {
  position: relative;

  @media (min-width: $tablet-width) {
    background-color: $color-main;
    background-image: none;
    border: 1px solid $color-second;
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 85px;
    max-height: 432px;
  }
}

.all-in-catalog::before {
  @media (min-width: $tablet-width) {
    content: "";
    position: absolute;
    background-color: $color-main;
    border-bottom: 1px solid $color-second;
    width: 326px;
    height: 84px;
    z-index: 200;
    top: -3px;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.all-in-catalog__subtitle {
  font-family: $font-family-main;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: center;
  color: $text-color-main;
  text-transform: uppercase;
  margin-top: 80px;
  margin-bottom: 0;

  @media (min-width: $tablet-width) {
    width: 135px;
    font-size: 20px;
    margin-top: 160px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 81px;
  }
}

.all-in-catalog__subtitle::before,
.all-in-catalog__subtitle::after {
  content: "";
  position: absolute;
  top: 39px;
  left: 145px;
  width: 31px;
  height: 2px;
  background-color: #d3d3d3;

  @media (min-width: $tablet-width) {
    height: 1px;
    width: 60px;
    top: 166px;
    left: 133px;
  }

  @media (min-width: $desktop-width) {
    left: 91px;
    top: 84px;
  }
}

.all-in-catalog__subtitle::before {
  transform: rotate(90deg);
}

.all-in-catalog__text {
  font-family: $font-family-second;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: center;
  color: $text-color-second;
  margin-top: 8px;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    width: 170px;
    font-size: 16px;
    line-height: 18px;
    margin-top: 25px;
    margin-bottom: 85px;
  }
}

.all-in-catalog__button {
  @media (min-width: $tablet-width) {
    margin-top: 2px;
    margin-bottom: 38px;
    padding: 10px 80px 10px 80px;
  }

  @media (min-width: $desktop-width) {
    padding: 10px 36px 10px 36px;
  }
}
