.button {
  display: inline-block;
  font-family: $font-family-main;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  background-color: $button-color-main;
  color: $text-color-on_back;
  box-sizing: border-box;
  padding: 10px 108px 10px 111px;
  margin: 0 auto;

  &:hover,
  &:focus {
    background-color: $button-color-main-action;
  }

  &:active {
    color: $text-color-on_back-down;
  }

  &--grey {
    background-color: $button-color-second;
    color: $text-color-second;
    box-sizing: border-box;
    padding: 10px 94px 10px 97px;

    &:hover,
    &:focus {
      background-color: $button-color-second-action;
      color: $text-color-second;
    }

    &:active {
      background-color: $button-color-second-action;
      color: rgba(68, 68, 68, 0.3);
    }
  }
}
