.capabilities {
  width: 280px;
  margin: 0 auto;
}

.capabilities__item {
  background-color: $color-second;
  margin-bottom: 19px;
}

.capabilities__subtitle {
  font-family: $font-family-main;
  color: $text-color-main;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  text-align: left;
  padding-top: 28px;
  padding-left: 92px;
  padding-right: 10px;
  padding-bottom: 31px;
  margin: 0;
}

.capabilities__text {
  font-family: $font-family-second;
  color: $text-color-second;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: left;
  padding-left: 21px;
  padding-right: 33px;
  padding-bottom: 22px;
  margin: 0;
}

.capabilities__inner {
  width: 240px;
  margin: 0 auto;
  padding-top: 18px;
  padding-bottom: 22px;
  border-top: 1px solid $line-on-identical-color;
}

.capabilities__link {
  display: flex;
  align-items: center;
  text-decoration: none;
  margin: 0;
}

.capabilities__catalog {
  font-family: $font-family-main;
  color: $text-color-main;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  text-align: left;
  margin: 0;
  padding-right: 13px;
}

.capabilities__arrow {
  width: 25px;
  height: 12px;
}
