.capabilities {
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: $tablet-width) {
    padding-left: 30px;
    padding-right: 30px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    width: 1220px;
    margin: 0 auto;
  }
}

.capabilities__item {
  position: relative;
  background-color: $color-second;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 29px;
  }

  @media (min-width: $desktop-width) {
    width: 570px;
    margin-bottom: 73px;
  }
}

.capabilities__text::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  top: 23px;
  left: 22px;
  background-color: $marker-color;
  border-radius: 25px;
}

.capabilities__subtitle {
  font-family: $font-family-main;
  color: $text-color-main;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  text-align: left;
  padding-top: 29px;
  padding-left: 91px;
  padding-right: 10px;
  padding-bottom: 30px;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    padding-top: 78px;
    padding-left: 53px;
    padding-bottom: 25px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 76px;
    padding-left: 215px;
    padding-bottom: 75px;
  }
}

.capabilities__text {
  font-family: $font-family-second;
  color: $text-color-second;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: left;
  padding-left: 21px;
  padding-right: 33px;
  padding-bottom: 22px;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    padding-left: 52px;
    padding-right: 260px;
    padding-bottom: 55px;

    &--short {
      padding-right: 295px;
    }
  }

  @media (min-width: $desktop-width) {
    padding-right: 56px;
    padding-bottom: 31px;
  }
}

.capabilities__inner {
  width: 240px;
  margin: 0 auto;
  padding-top: 18px;
  padding-bottom: 22px;
  border-top: 1px solid $line-on-identical-color;

  @media (min-width: $tablet-width) {
    width: 170px;
    padding-top: 0;
    padding-bottom: 62px;
    border: none;
    margin-left: 53px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.capabilities__link {
  display: flex;
  align-items: center;
  text-decoration: none;
  margin: 0;
}

.capabilities__catalog {
  font-family: $font-family-main;
  color: $text-color-main;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  text-align: left;
  margin: 0;
  padding-right: 13px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }
}

.capabilities__arrow {
  width: 25px;
  height: 12px;

  @media (min-width: $tablet-width) {
    width: 24px;
    height: 11px;
  }
}
