.catalog {
  width: 320px;
  margin: 0 auto;
}

.catalog__title {
  font-family: $font-family-main;
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: left;
  color: $text-color-main;
  border-top: 1px solid $separator-menu;
  border-bottom: 1px solid $separator-main;
  padding-top: 16px;
  padding-bottom: 26px;
  padding-left: 20px;
  margin: 0;
}

.catalog__item {
  display: flex;
  width: 320px;
  margin: 0 auto;
  flex-direction: column;
  border-bottom: 1px solid $separator-main;
  padding-bottom: 24px;
}

.catalog__item:first-of-type {
  border-top: 1px solid $separator-main;
}

.catalog-info__wrapper {
  display: flex;
}

.catalog-info__picture {
  display: block;
  padding-left: 20px;
}

.catalog-info__button {
  padding-top: 11px;
}
