.container {
  max-width: 320px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    max-width: 768px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1440px;
    margin: auto;

    &--index {
      background-image: 
        url("../../img/index-background-desktop@1x.jpg"),
        linear-gradient(90deg, white 50%, lightgreen 50%);
      background-repeat: no-repeat;
      background-position: calc(50% + 360px) 0, 0 0;
    }
  }
}
