.effect {
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 0;
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    width: 628px;
    margin-top: 45px;
    margin-bottom: 40px;
    margin-left: 30px;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    margin: 0 auto;
  }
}

.effect__subtitle {
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: left;
  color: $text-color-main;
  margin: 0;
  padding-bottom: 19px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    padding-bottom: 0;
  }
}

.effect__list {
  counter-reset: section;
  list-style: none;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
  }
}

.effect__list-item {
  position: relative;
  padding-top: 10px;
  padding-bottom: 16px;

  @media (min-width: $desktop-width) {
    padding-top: 0;
  }
}

.effect__text {
  font-family: $font-family-second;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: left;
  color: $text-color-second;
  margin: 0;
  padding-left: 80px;
}

@media (min-width: $tablet-width) {
  width: 245px;
  font-size: 16px;
  line-height: 24px;
  padding-top: 174px;
  padding-bottom: 45px;
  padding-left: 0;
}

@media (min-width: $desktop-width) {
  padding-top: 183px;
}

.effect__text--nature::before {
  width: 26px;
  height: 29px;
  background-image: url("../../img/advantage-leaf@1x.png");
  background-repeat: no-repeat;
  background-position: center;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../../img/advantage-leaf@2x.png");
    background-size: 50px 50px;
  }
}

.effect__text--powder::before {
  width: 26px;
  height: 29px;
  background-image: url("../../img/advantage-powder@1x.png");
  background-repeat: no-repeat;
  background-position: center;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../../img/advantage-powder@2x.png");
    background-size: 50px 50px;
  }
}

.effect__text--eat::before {
  width: 26px;
  height: 29px;
  background-image: url("../../img/advantage-dining@1x.png");
  background-repeat: no-repeat;
  background-position: center;

  @media (min-resolution: $retina-dpi),
    (min-resolution: $retina-dppx) {
    background-image: url("../../img/advantage-dining@2x.png");
    background-size: 50px 50px;
  }
}

.effect__text--time::before {
  width: 26px;
  height: 29px;
  background-image: url("../../img/advantage-clock@1x.png");
  background-repeat: no-repeat;
  background-position: center;

  @media (min-resolution: $retina-dpi),
    (min-resolution: $retina-dppx) {
    background-image: url("../../img/advantage-clock@2x.png");
    background-size: 50px 50px;
  }
}

.effect__text::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 14px;
  height: 60px;
  width: 60px;
  background-color: $marker-color;

  @media (min-width: $tablet-width) {
    width: 80px;
    height: 80px;
    top: 70px;
  }
}

.effect__text::after {
  @media (min-width: $tablet-width) {
    content: " "counter(section) " ";
    counter-increment: section;
    position: absolute;
    line-height: 281px;
    color: #f2f2f2;
    text-align: left;
    z-index: -1;
    top: 32px;
    left: 116px;
    font-family: $font-family-main;
    font-size: 281px;
  }
}
