.example {
  background-color: $color-second;

  @media (min-width: $tablet-width) {
    background-color: $color-main;
    border-top: 1px solid $separator-menu;
  }

  @media (min-width: $desktop-width) {
    width: auto;
    border: none;
    background-image: linear-gradient(to top, $color-second 70%, $color-main 30%);
  }
}

.example__subtitle {
  font-family: $font-family-main;
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: left;
  color: $text-color-main;
  padding-left: 20px;
  padding-top: 17px;
  padding-bottom: 22px;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    padding-left: 30px;
    padding-top: 43px;
    padding-bottom: 65px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    margin: 0 auto;
    padding-top: 66px;
    padding-left: 0;
  }
}

.example__box {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 1220px;
    margin: 0 auto;
    margin-top: 0;
  }
}

.example__wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: column;
    width: 570px;
    padding-top: 83px;
  }
}

.example__text {
  font-family: $font-family-second;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: left;
  color: $text-color-second;
  padding-left: 20px;
  padding-right: 34px;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    padding-left: 30px;
    padding-right: 40px;
    padding-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    width: 435px;
    padding-left: 0;
    padding-bottom: 35px;
  }
}

.example__medium-wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    width: 708px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    width: auto;
    margin: 0;
    flex-direction: column;
    align-items: flex-start;
  }
}

.example__content {
  position: relative;
  display: flex;
  width: 280px;
  margin: 0 auto;
  margin-left: 20px;
  margin-right: 20px;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    width: 366px;
    margin-left: 0;
    margin-right: auto;
  }
}

.example__result-text {
  box-sizing: border-box;
  font-family: $font-family-main;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: center;
  color: $text-color-main;
  text-transform: uppercase;
  border: solid 1px #cdcdcd;
  border-radius: 3px;

  &--left {
    padding: 15px 42px 15px 42px;
    margin-right: 32px;
  }

  &--right {
    padding: 14px 21px 15px 21px;
  }

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 37px;
    margin-top: 31px;

    &--left {
      padding: 17px 54px 18px 58px;
      margin-right: 32px;
    }

    &--right {
      padding: 17px 29px 17px 29px;
    }
  }
}

.example__result-subtitle {
  width: 57px;
  font-family: $font-family-second;
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: center;
  color: $text-color-second;
  background-color: $color-second;
  padding-left: 15px;
  padding-right: 15px;

  &--left {
    position: absolute;
    top: 60px;
    left: 18px;
  }

  &--right {
    position: absolute;
    top: 60px;
    left: 175px;
  }

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 14px;
    background-color: $color-main;
    padding-left: 0;
    padding-right: 0;

    &--left {
      width: 97px;
      padding-left: 15px;
      padding-right: 15px;
      position: absolute;
      top: 80px;
      left: 18px;
    }

    &--right {
      width: 127px;
      padding-left: 5px;
      padding-right: 5px;
      position: absolute;
      top: 80px;
      left: 215px;
    }
  }

  @media (min-width: $desktop-width) {
    background-color: $color-second;
  }
}

.example__inner {
  @media (min-width: $desktop-width) {
    width: 610px;
  }
}

.example__text-small {
  font-family: $font-family-main;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: center;
  color: $text-color-main;
  text-transform: uppercase;
  margin: 0;
  margin-top: 11px;
  margin-bottom: 36px;

  @media (min-width: $tablet-width) {
    width: 180px;
    font-size: 20px;
    line-height: 30px;
    text-align: right;
    padding-top: 28px;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
    width: auto;
    padding-top: 15px;
  }
}

.example__text-tiny {
  @media (min-width: $desktop-width) {
    display: inline-block;
    margin-left: 60px;
  }
}
