.main-nav {
  width: 320px;
  margin: 0 auto;
  font-family: $font-family-main;
  font-weight: 500;
  color: $text-color-main;
  text-transform: uppercase;
  background-color: $color-main;

  @media (min-width: $tablet-width) {
    width: 438px;
    margin: 0;
    margin-left: auto;
  }

  @media (min-width: $desktop-width) {
    width: 478px;
    margin: 0;
    margin-left: auto;
    background-color: transparent;
  }
}

.main-nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 7px;
  margin-bottom: 2px;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: flex-start;
    margin: 0;
  }
}

.main-nav__item a {
  color: $text-color-main;
  text-decoration: none;
  padding: 0;

  @media (min-width: $tablet-width) {
    padding-bottom: 5px;
    border-bottom: 2px solid #68b738;
  }
}

.main-nav__item-index a {
  @media (min-width: $desktop-width) {
    color: $text-color-on-back;
    border-bottom: 2px solid #ffffff;
  }
}

.main-nav__item a[href] {
  border: none;

  &:hover,
  &:focus {
    color: rgba(17, 17, 17, 0.6);
  }

  &:active {
    color: rgba(17, 17, 17, 0.3);
  }
}

.main-nav__item-index a[href] {
  border: none;

  &:hover,
  &:focus {
    color: rgba(255, 255, 255, 0.6);
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}

.main-nav__item {
  width: 320px;
  margin: 0 auto;
  box-sizing: border-box;
  padding-bottom: 22px;
  padding-top: 23px;
  border-top: 1px solid $separator-menu;
  font-family: $font-family-main;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    width: 151px;
    border: none;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-align: left;
    margin-right: 38px;
  }

  @media (min-width: $desktop-width) {
    width: 168px;
    font-size: 20px;
    text-align: left;
    margin: 0;
    margin-right: 35px;
  }
}

.main-nav__item:first-child {
  @media (min-width: $tablet-width) {
    width: 63px;
    margin-right: 36px;
  }

  @media (min-width: $desktop-width) {
    width: 69px;
    margin-right: 38px;
  }
}

.main-nav__toggle {
  position: absolute;
  top: 21px;
  right: 22px;
  display: block;
  width: 20px;
  height: 20px;
  background-color: grey;
  cursor: pointer;
  border: none;

  @media (min-width: $tablet-width) {
    display: none;
  }
}
