.main-nav {
  width: 320px;
  margin: 0 auto;
  font-family: $font-family-main;
  font-weight: 500;
  color: $text-color-main;
  text-transform: uppercase;
  background-color: $color-main;
}

.main-nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 9px;
}

.main-nav__link {
  color: $text-color-main;
  text-decoration: none;
  padding: 0;
}

.main-nav__item {
  width: 320px;
  margin: 0 auto;
  box-sizing: border-box;
  padding-bottom: 22px;
  padding-top: 23px;
  border-top: 1px solid $separator-menu;
  font-family: $font-family-main;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}

.main-nav__toggle {
  position: absolute;
  top: 15px;
  right: 22px;
  display: block;
  width: 30px;
  height: 20px;
  background-color: $color-main;
  cursor: pointer;
  border: none;
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 25px;
  height: 2px;
  background-color: $text-color-main;
  box-shadow: 0 8px 0 0 $text-color-main, 0 16px 0 0 $text-color-main;
}

.main-nav--closed .main-nav__toggle:active::before {
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 0 0 rgba(255, 255, 255, 0.3), 0 16px 0 0 rgba(255, 255, 255, 0.3);
}

.main-nav--opened .main-nav__toggle {
  top: 0;
  right: 0;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 18px;
    right: 20px;
    width: 21px;
    height: 2px;
    background-color: $text-color-main;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:active::before,
  &:active::after {
    background-color: rgba(255, 255, 255, 0.3);
  }
}

@media (min-width: $tablet-width) {
  .main-nav {
    width: auto;
    margin: 0;
  }

  .main-nav__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 565px;
    margin: 0 auto;
  }
}
