.main-nav {
  width: 320px;
  margin: 0 auto;
  font-family: $font-family-main;
  font-weight: 500;
  color: $text-color-main;
  text-transform: uppercase;
  background-color: $color-main;
}

.main-nav__toggle {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: block;
  width: 25px;
  height: 19px;
  background-color: $color-main;
  border: 0;
  cursor: pointer;
}

.main-nav--closed .main-nav__toggle::before {
  content: "";

  position: absolute;
  top: 10px;
  left: -15px;

  width: 25px;
  height: 2px;

  background-color: $third-color;
  box-shadow: 0 8px 0 0 $third-color, 0 16px 0 0 $third-color;
}

.main-nav--closed .main-nav__toggle:active::before {
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 0 0 rgba(255, 255, 255, 0.3), 0 16px 0 0 rgba(255, 255, 255, 0.3);
}

.main-nav__wrapper {
  display: flex;
  flex-direction: column;
}

.main-nav__list {
  list-style: none;
  padding: 0;
}
