.page-header {
  display: flex;
  flex-direction: column;
  width: auto;

  @media (min-width: $desktop-width) {
    margin-bottom: 80px;

    &--index {
      background-image:
        url("../../img/index-background-desktop@1x.jpg"),
        linear-gradient(90deg, white 50%, lightgreen 50%);
      background-repeat: no-repeat;
      background-position: calc(50% + 360px) 0, 0 0;
    }
  }
}

.page-header__inner {
  position: relative;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 706px;
    margin: 0 auto;
    margin-top: 18px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 1220px;
    margin: 0 auto;
    margin-top: 48px;
  }
}

.page-header__logo {
  display: inline-block;
  width: 191px;
  height: 39px;
  margin: 0;
  padding: 0;
  padding-left: 20px;
  padding-top: 13px;
  text-align: left;

  @media (min-width: $tablet-width) {
    padding-left: 0;
    height: 59px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 0;
    height: 60px;
  }
}

.page-header__small-inner {
  @media (min-width: $tablet-width) {
    width: 708px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    margin: 0 auto;
  }
}

.page-header__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 60px;
  text-align: left;
  color: $text-color-main;
  border-top: 1px solid $separator-menu;
  margin: 0;
  padding-left: 20px;
  padding-top: 15px;
  padding-bottom: 27px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    border-top: none;
    margin: 0;
    padding-left: 0;
    padding-top: 51px;
    padding-bottom: 50px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 66px;
    padding-bottom: 80px;
  }
}

.page-header__logo[href]:hover,
.page-header__logo[href]:focus {
  opacity: 0.8;
}

.page-header__logo[href]:active {
  opacity: 0.6;
}
