.page-main {
  width: auto;

  @media (min-width: $desktop-width) {
    margin-top: 80px;
  }
}

.page-main__intro {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: left;
  color: $text-color-main;
  text-transform: uppercase;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 5px;
  margin: 0;
  margin-top: -3px;

  @media (min-width: $tablet-width) {
    width: 628px;
    margin-left: 70px;
    margin-top: -20px;
    font-size: 20px;
    line-height: 30px;
    padding: 0;
    padding-bottom: 28px;
  }

  @media (min-width: $desktop-width) {
    margin-top: -23px;
  }
}

.page-main__wrapper {
  width: auto;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
