.page-header {
  display: flex;
  flex-direction: column;
  width: auto;
  margin: 0 auto;
}

.page-header__inner {
  position: relative;
  min-width: 320px;
  margin: 0 auto;
}

.page-header__logo {
  display: inline-block;
  width: 191px;
  height: 39px;
  margin: 0;
  padding: 0;
  padding-left: 20px;
  padding-top: 13px;
  text-align: left;
  order: 2;
}

.page-header__small-inner {
  width: 320px;
  margin: 0 auto;
}

.page-header__title {
  font-family: $font-family-main;
  font-weight: 400;
  font-size: 36px;
  line-height: 60px;
  text-align: left;
  color: $text-color-main;
  border-top: 1px solid $separator-menu;
  margin: 0;
  padding-left: 22px;
}

@media (min-width: $tablet-width) {
  .page-header__logo {
    height: 59px;
  }
}

@media (min-width: $desktop-width) {
  .page-header__logo {
    height: 60px;
  }
}

.page-header__logo[href]:hover,
.page-header__logo[href]:focus {
  opacity: 0.8;
}

.page-header__logo[href]:active {
  opacity: 0.6;
}
