.present {
  width: 320px;
  margin: 0 auto;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: 320px 305px;
  color: $text-color-on_back;
  margin-bottom: 23px;
}

.present__picture {
  margin-left: 20px;
  margin-bottom: 2px;
}

.present__title {
  font-family: $font-family-main;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: center;
  color: $text-color-on_back;
  margin: 0;
  padding-top: 29px;
  padding-bottom: 21px;
}

.present__slogan {
  font-family: $font-family-main;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: center;
  color: $text-color-on_back;
  text-transform: uppercase;
  margin: 0;
  padding-top: 0;
  padding-bottom: 29px;
}

.present__button {
  width: 280px;
  font-size: 14px;
  line-height: 18px;
  padding-top: 12px;
  margin-left: 20px;
}
