.promo {
  width: 320px;
  margin: 0 auto;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: 320px 305px;
  color: $text-color-on_back;
  margin-bottom: 23px;

  @media (min-width: $tablet-width) {
    width: 768px;
    margin: 0 auto;
    background-image: none;
    color: $text-color-main;
    margin-bottom: 10px;
    height: 850px; //временно для сетки//
  }
}

.promo__picture {
  margin-left: 20px;
  margin-bottom: 2px;

  @media (min-width: $tablet-width) {
    margin-left: 200px;
  }
}

.promo__title {
  font-family: $font-family-main;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: center;
  color: $text-color-on_back;
  margin: 0;
  padding-top: 29px;
  padding-bottom: 23px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    text-align: left;
    color: $text-color-main;
    padding-top: 50px;
    padding-bottom: 43px;
    padding-left: 115px;
  }
}

.promo__slogan {
  font-family: $font-family-main;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: center;
  color: $text-color-on_back;
  text-transform: uppercase;
  margin: 0;
  padding-top: 0;
  padding-bottom: 27px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    text-align: left;
    color: $text-color-main;
    padding-bottom: 27px;
    padding-left: 117px;
  }
}

.promo__button {
  font-size: 14px;
  line-height: 18px;
  padding: 11px 74px 11px 73px;
  margin-left: 20px;

  @media (min-width: $tablet-width) {
    width: 245px;
    height: 52px;
    font-size: 20px;
    line-height: 20px;
    padding: 16px 27px 16px 27px;
    margin-left: -365px;
    margin-top: -445px;
    order: 2;
  }
}

@media (min-width: $desktop-width) {
  .promo {
    width: 895px;
    margin-bottom: 90px;
    height: 565px; //временно для сетки//
  }

  .promo__title {
    margin: 0;
    padding-top: 100px;
    padding-bottom: 42px;
  }

  .promo__slogan {
    padding-bottom: 27px;
  }

  .promo__picture {
    margin-left: 560px;
  }

  .promo__button {
    margin-top: -470px;
    order: 2;
  }
}
