.promo {
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: 320px 305px;
  color: $text-color-on_back;
  margin-bottom: 22px;

  @media (min-resolution: $retina-dpi),
    (min-resolution: $retina-dppx) {
    background-image: url("../../img/index-background-mobile@2x.jpg");
    background-size: 320px 305px;
  }

  @media (min-width: $tablet-width) {
    width: 708px;
    margin: 0 auto;
    background-image: none;
    color: $text-color-main;
    margin-bottom: 10px;

    @media (min-width: $desktop-width) {
      width: 1220px;
      margin: 0 auto;
      margin-top: 40px;
    }
  }
}

.promo__picture {
  margin-left: 20px;
  margin-bottom: 0;
  width: 280px;
  height: 270px;

  @media (min-width: $tablet-width) {
    width: 709px;
    height: 609px;
    margin-left: -2px;
    margin-top: -7px;
    z-index: -100px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    margin-top: -305px;
    margin-left: 450px;
    width: 552px;
    height: 499px;
  }
}

.promo__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: center;
  color: $text-color-on_back;
  margin: 0;
  padding-top: 27px;
  padding-bottom: 25px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    text-align: left;
    color: $text-color-main;
    padding-top: 52px;
    padding-bottom: 42px;
    padding-left: 88px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 65px;
    padding-bottom: 40px;
    padding-left: 80px;
  }
}

.promo__slogan {
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: center;
  color: $text-color-on_back;
  text-transform: uppercase;
  margin: 0;
  padding-top: 0;
  padding-bottom: 28px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    text-align: left;
    color: $text-color-main;
    padding-bottom: 27px;
    padding-left: 88px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 42px;
    padding-left: 80px;
  }
}

.promo__button {
  font-size: 14px;
  line-height: 18px;
  padding: 11px 74px 11px 73px;
  margin-left: 20px;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 369px;
    left: 31px;
    width: 245px;
    height: 52px;
    font-size: 20px;
    line-height: 20px;
    padding: 16px 27px 16px 27px;
    margin-left: 88px;
    order: 2;
  }

  @media (min-width: $desktop-width) {
    top: 455px;
  }
}

