.range {
  display: none;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 10px;
    left: 75px;
    width: 428px;
    height: 6px;
    border-radius: 3px;
    background-color: #cdcdcd;
    border-color: #cdcdcd;
    display: inline-flex;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    left: 78px;
  }
}

.range__toggle {
  @media (min-width: $tablet-width) {
    width: 33px;
    height: 33px;
    box-sizing: border-box;
    margin-left: calc(50% - 17px);
    background-image: radial-gradient(#68b738 0, #68b738 4px, $color-main 5px, $color-main 100%);
    border: 1px solid #cdcdcd;
    border-radius: 50%;
    box-shadow: inset 0 0 0 12px #ffffff,
      0 2px 5px 0 rgba(0, 0, 0, 0.15);
    background-color: $marker-color;
    cursor: pointer;
  }

  &:hover,
  &:focus {
    box-shadow: inset 0 0 0 12px #ffffff,
      0 3px 5px 0 rgba(0, 0, 0, 0.25);
  }

  &:active {
    box-shadow: inset 0 0 0 11px #ffffff,
      0 4px 5px 0 rgba(0, 0, 0, 0.3);
    border: solid 2px #68b738;
  }
}
