.slider__item {
  padding: 0;
  padding-bottom: 63px;
  background-color: $color-second;

  &--before {
    display: block;
  }

  &--after {
    display: none;
  }

  @media (min-width: $tablet-width) {
    padding-bottom: 90px;

    &--before {
      position: relative;
      display: block;
      background-image: linear-gradient(to top, $color-second 67%, $color-main 32%);
      width: 50%;
      overflow: hidden;
      z-index: 10;
    }

    &--after {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      background-image: linear-gradient(to top, $fourth-color 67%, $color-main 32%);
    }
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 128px;

    &--before {
      position: absolute;
      top: -138px;
      left: -40px;
      display: block;
      background-image: linear-gradient(to top, $color-second 71%, $color-main 29%);
      width: 60%;
      overflow: hidden;
      z-index: 10;
    }

    &--after {
      position: absolute;
      top: -138px;
      left: -40px;
      background-image: linear-gradient(to top, $fourth-color 71%, $color-main 29%);
    }
  }
}


.slider__image {
  margin: 0 auto;
  margin-bottom: 24px;
  width: 311px;
  height: 232px;
  padding-left: 5px;
  padding-top: 3px;

  @media (min-width: $tablet-width) {
    width: 690px;
    height: 517px;
    margin-top: 46px;
    padding-left: 46px;
    padding-top: 10px;
    margin-bottom: 19px;

    @media (min-width: $desktop-width) {
      margin: 0;
      padding: 0;
    }
  }
}

.slider {
  position: relative;

  @media (min-width: $desktop-width) {
    background-image: none;
  }
}

.slider__text {
  font-family: $font-family-main;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  color: $text-color-main;
  text-transform: uppercase;

  &--before {
    text-align: left;
    padding-left: 2px;
  }

  &--after {
    text-align: right;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    margin-top: 0;
    padding-top: 0;

    &--before {
      line-height: 26px;
      border-bottom: 1px dotted #bebebe;

      &:hover {
        border-bottom-style: solid;
      }

      &:active {
        border: none;
      }
    }

    &--after {
      padding-right: 3px;
      line-height: 26px;
      border-bottom: 1px dotted #bebebe;

      &:hover {
        border-bottom-style: solid;
      }

      &:active {
        border: none;
      }
    }
  }

  @media (min-width: $desktop-width) {
    padding-left: 5px;
  }
}

.slider__text-inner {
  position: absolute;
  top: 257px;
  left: 60px;
  width: 200px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding-left: 1px;

  @media (min-width: $tablet-width) {
    position: absolute;
    width: 574px;
    top: 588px;
    left: 95px;
    z-index: 1000;
  }

  @media (min-width: $desktop-width) {
    width: 578px;
    top: 418px;
    left: 33px;
  }
}
