.slider {
  position: relative;

  @media (min-width: $tablet-width) {
    background-image: linear-gradient(to top, $color-second 67%, $color-main 23%);
  }

  @media (min-width: $desktop-width) {
    background-image: none;
  }
}

.slider__text {
  font-family: $font-family-main;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  color: $text-color-main;
  text-transform: uppercase;

  &--before {
    text-align: left;
    padding-left: 2px;
  }

  &--after {
    text-align: right;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
  }
}

.slider__text-inner {
  width: 200px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding-bottom: 20px;
  padding-left: 1px;

  @media (min-width: $tablet-width) {
    width: 574px;
    padding-bottom: 55px;
  }

  @media (min-width: $desktop-width) {
    width: 575px;
    margin-right: 0;
    margin-top: 1px;
  }
}

.slider__item {
  margin-top: 1px;
  margin-bottom: 16px;
  width: 311px;
  height: 232px;
  padding-left: 2px;

  &--after {
    display: none;
  }

  @media (min-width: $tablet-width) {
    margin-top: 318px;
    margin-bottom: 15px;
    //такое число только до замены картинки на адаптивную//
  }

  @media (min-width: $desktop-width) {
    margin-top: 105px;
    //такое число только до замены картинки на адаптивную//
  }
}
