.social {
  width: 280px;
  border-top: 1px solid $line-on-identical-color;
  border-bottom: 1px solid $line-on-identical-color;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    border: none;
  }
}

.social__list {
  width: 128px;
  margin-left: 73px;
  margin-right: 79px;
  margin-top: 19px;
  margin-bottom: 17px;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $tablet-width) {
    padding-left: 15px;
    margin-top: 17px;
    margin-bottom: 19px;
  }
}

.social__item {
  fill: #666666;

  &:hover {
    fill: #68b738;
  }

  &:active {
    fill: #68b738;
    opacity: 0.3;
  }

  &--vk {
    padding-top: 0;
  }

  &--insta {
    padding-top: 3px;
    padding-right: 4px;
  }

  &--fb {
    padding-top: 3px;
    padding-right: 3px;
  }
}

.social__icon {
  padding-top: 0;

  &--vk {
    @media (min-width: $tablet-width) {
      width: 30px;
      height: 16px;
    }
  }

  &--insta {
    @media (min-width: $tablet-width) {
      width: 23px;
      height: 23px;
    }
  }

  &--fb {
    @media (min-width: $tablet-width) {
      width: 14px;
      height: 28px;
    }
  }
}
