.social {
  width: 280px;
  border-top: 1px solid $line-on-identical-color;
  border-bottom: 1px solid $line-on-identical-color;
  margin: 0 auto;
}

.social__list {
  width: 130px;
  margin-left: 75px;
  margin-right: 75px;
  margin-bottom: 23px;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
