.table {
  width: 142px;
  table-layout: fixed;
  margin-right: 0;
  margin-left: 19px;

  @media (min-width: $tablet-width) {
    width: 248px;
    margin: 0 auto;
    margin-bottom: 33px;
    border-collapse: collapse;
    margin-right: 16px;
    padding-left: 5px; //выравнивание//
  }

  @media (min-width: $desktop-width) {
    width: 167px;
    padding-left: 0;
  }
}

.table__caption {
  width: 80px;
  font-family: $font-family-main;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: left;
  color: $text-color-main;
  text-transform: uppercase;
  margin-top: 1px;
  padding-top: 21px;
  padding-bottom: 11px;

  @media (min-width: $tablet-width) {
    width: 135px;
    margin: 0 auto;
    font-size: 20px;
    text-align: center;
    padding-top: 38px;
    padding-bottom: 19px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 34px;
    padding-bottom: 18px;
  }
}

.table__caption:nth-child(3) {
  padding-top: 18px;

  @media (min-width: $tablet-width) {
    padding-top: 30px;
  }
}

.table__stroke {
  font-family: $font-family-second;
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  color: $text-color-second;
  margin-top: 15px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 16px;
    border-spacing: 2px;
    border-bottom: 1px solid $line-on-identical-color;
  }
}

.table__cell {
  padding: 0;

  &--right {
    text-align: right;
  }

  &--left {
    text-align: left;
    margin-right: auto;
  }

  @media (min-width: $tablet-width) {
    padding-top: 8px;
    padding-bottom: 7px;
  }
}
