$color-main: #ffffff;
$color-second: #f2f2f2;
$text-color-main: #111111;
$text-color-second: #444444;
$third-color: #222222;
$text-color-on-back: #ffffff;
$text-color-on_back-down: rgba(255, 255, 255, 0.3);
$font-family-main: oswald, arial, sans-serif;
$font-family-second: arial, sans-serif;
$button-color-main: #68b738;
$button-color-main-action: #5eaa2f;
$button-color-second: #f2f2f2;
$button-color-second-action: #ebebeb;
$grey: #ededed;
$tablet-width: 768px;
$desktop-width: 1300px;
