$color-main: #ffffff;
$color-second: #f2f2f2;
$text-color-main: #111111;
$text-color-second: #444444;
$text-color-on_green: #ffffff;
$text-color-on_green-down: rgba(255, 255, 255, 0.3);
$font-family-main: oswald, arial, sans-serif;
$font-family-second: arial, sans-serif;
$button-color-main: #68b738;
$button-color-main-action: #5eaa2f;
$button-color-second: #f2f2f2;
$button-color-second-action: #ebebeb;
