.all-in-catalog__subtitle {
  font-family: $font-family-main;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: center;
  color: $text-color-main;
  text-transform: uppercase;
}

.all-in-catalog__text{
  font-family: $font-family-second;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: center;
  color: $text-color-second;
}
