.button {
  display: inline-block;
  font-family: $font-family-main;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  
  background-color: $button-color-main;
  color: $text-color-on_green;
  
  box-sizing: border-box;
  width: 280px;
  height: 40px;
  margin: 0 auto;
  padding-top: 12px; 
  margin-left: 20px;
}

