.main-nav {
  width: 320px;
  margin: 0 auto;
  font-family: $font-family-main;
  font-weight: 500;
  color: $text-color-main;
  text-transform: uppercase;
  background-color: $color-main;
}

.main-nav__toggle {
  display: inline-block;
  width: 25px;
  height: 19px;
  font-size: 0;
  background-color: red;
  border: 0;
  cursor: pointer;
}

.main-nav__wrapper {
  display: flex;
  flex-direction: column;
}

.main-nav__list {
  list-style: none;
  padding: 0;
}
