.social {
  width: 280px;
  
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  margin: 0 auto;
}

.social__list {
  width: 130px;
  
  list-style: none;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
}
