  $color-main: #ffffff;
  $color-second: #f2f2f2;
  $text-color-main: #111111;
  $text-color-second: #444444;
  $text-color-on_green: #ffffff;
  $font-family-main: Oswald, arial, sans-serif;
  $font-family-second: Arial, sans-serif;
  $button-color-main: #68b738;
